button {
    background: transparent;
    margin-right:  10px;
    border: 1px solid;
    transition: 0.3s;
    cursor: pointer;
    padding: 5px 14px;
}

button:hover {
    background: black;
    color: white;
}